<ion-view view-title="RIT CAREER FAIR">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>

  <ion-header-bar class="bar-light bar-subheader">
    <a style="float:right" class="button icon-left ion-checkmark-round button-clear button-dark" ng-click="goToVisited()">Visited</a>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="card" ng-repeat="company in companies" ng-click="goToDetail(company)" ng-if="!company.visited">
      <div class="item item-text-wrap item-avatar">
          <img ng-src="images/{{company.name.charAt(0).toLowerCase()}}.png">
          <h2>{{company.name}}</h2>
          <p>{{company.boothNo}}</p>
      </div>
    </div>



  </ion-content>
</ion-view>
